<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="signup">
    <div id="content" class="signup-box">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>注册</h2><span>&nbsp;或者 <a href="/account/login.php">登录</a></span></div>
                <div class="sect">
                    <form id="signup-user-form" method="post" action="/account/signup.php" class="validator">
                        <div class="field email">
                            <label for="signup-email-address">Email</label>
                            <input type="text" size="30" name="email" id="signup-email-address" class="f-input" value="{$_POST['email']}" require="true" datatype="email|ajax" url="${WEB_ROOT}/ajax/validator.php" vname="signupemail" msg="|" />
                            <span class="f-input-tip">请输入有效的Email地址</span> 
                            <span class="hint">登录及找回密码用，不会公开</span>
                        </div>
                        <div class="field username">
                            <label for="signup-username">用户名</label>
                            <input type="text" size="30" name="username" id="signup-username" class="f-input" value="{$_POST['username']}" datatype="limit|ajax" require="true" min="2" max="16" maxLength="16" url="${WEB_ROOT}/ajax/validator.php" vname="signupname" msg="|" />
                            <span class="hint">4-16 个字符，一个汉字为两个字符</span>
                        </div>
                        <div class="field password">
                            <label for="signup-password">密码</label>
                            <input type="password" size="30" name="password" id="signup-password" class="f-input" require="true" datatype="require" />
                            <span class="hint">最少 4 个字符</span>
                        </div>
                        <div class="field password">
                            <label for="signup-password-confirm">确认密码</label>
                            <input type="password" size="30" name="password2" id="signup-password-confirm" class="f-input" require="true" datatype="compare" compare="signup-password" />
                        </div>
                        <div class="field">
                            <label for="signup-password-confirm">手机号码</label>
                            <input type="text" size="30" name="mobile" id="signup-mobile" class="number" /><span class="inputtip">手机号码是我们联系你的最重要的联系方式，并用于{$INI['system']['couponname']}的短信通知</span>
                        </div>
						<div class="field city">
                            <label id="enter-address-city-label" for="signup-city">所在城市</label>
							<select name="city_id" class="f-city">${Utility::Option(Utility::OptionArray($hotcities, 'id', 'name'), $city['id'])}<option value='0'>其他</option></select>
                        </div>
						 <div class="field subscribe">
                            <input tabindex="3" type="checkbox" value="1" name="subscribe" id="subscribe" class="f-check" checked="checked" />
                            <label for="subscribe">订阅每日最新团购信息</label>
                        </div>
                        <div class="act">
                            <input type="submit" value="注册" name="commit" id="signup-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
        <div class="sbox">
            <div class="sbox-top"></div>
            <div class="sbox-content">
                <div class="side-tip">
                    <h2>已有{$INI['system']['abbreviation']}账户？</h2>
                    <p>请直接<a href="/account/login.php">登录</a>。</p>
                </div>
            </div>
            <div class="sbox-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
