<div class="deal-subscribe">
	<div class="top"></div>
	<div class="body" id="deal-subscribe-body">
		<form id="deal-subscribe-form" method="post" action="/subscribe.php"><table class="address"><tr><td><input type="text" name="email" class="f-text" id="deal-subscribe-form-email" xtip="请输入你的Email..." value="" /></td><td><input type="hidden" name="city_id" value="{$city['id']}" /><input type="image" src="/static/css/i/button-subscribe.gif" value="订阅" /></td></tr></table></form>
		<p class="text">每天都有新惊喜，<br />我们会邮件通知您！<br /> <span class="required">*</span> 此服务可以随时取消</p>
	</div>
	<div class="bottom"></div>
</div>
